language: csharp
solution: TheTabulator/DotnetCOREClasses/DotnetCOREClasses.sln
install:
  - nuget restore TheTabulator/DotnetCOREClasses/DotnetCOREClasses.sln
  - nuget install NUnit.Console -Version 3.9.0 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Debug TheTabulator/DotnetCOREClasses/DotnetCOREClasses.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe ./TheTabulator/DotnetCOREClasses/DotnetCOREClassesTests/bin/Debug/netcoreapp2.1/DotnetCOREClassesTests.dll
