language: csharp
dist: xenial
solution: "TheTabulator.sln"
mono:
  - latest
  - 3.12.0
  - 3.10.0
dotnet: 
  - latest
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
script:
  - dotnet restore
  - dotnet build
