language: csharp
dist: xenial
solution: "TheTabulator.sln"
dotnet:
  - latest
  - 2.1.505
mono: none
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
script:
  - dotnet restore
  - dotnet build
