language: csharp
solution: TheTabulator.sln
mono: none
dotnet: 2.1.502
script:
 - dotnet restore

install:
  - nuget restore TheTabulator.sln
  - nuget install NUnit.Console -Version 3.9.0 -OutputDirectory testrunner
script:
  - msbuild /p:Configuration=Release solution-name.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.9.0/tools/nunit3-console.exe ./MyProject.Tests/bin/Release/MyProject.Tests.dll
  
  
  
  dist: xenial
script: ./build.sh
